:root {
  --main-text-color: #13c4a3;
  --highlight-text-color: #f90093;
}

html {
  background: #04151f;
  padding: 96;
  font-family: 'Space Mono';
  color: var(--main-text-color);
}

a {
  color: #13c4a3;
}

nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}