@import 'global.css';

h1,
h2 {
  font-family: 'Bungee';
  color: var(--highlight-text-color);
  animation: flicker 10s ease infinite alternate;
}

header {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.social {
  display: flex;
  justify-content: space-evenly;
}

.social > * {
  padding: 10px;
}
